.card-movie {
  background-color: var(--main-bg-color-light);
  width: 23%;
  min-width: 230px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear;
}

.card-movie:hover {
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.poster-description {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease-in-out;
}

.poster-description > h3 {
  color: var(--color-text-yellow);
  font-size: var(--size-font-card-movie);
  text-transform: uppercase;
  text-align: center;
}

.movie-link i {
  color: var(--color-text-light);
  font-size: var(--size-icon-bigest);
}

.card-movie:hover .poster-description {
  opacity: 1;
}

.poster-image {
  width: 100%;
}

.card-footer {
  padding: 10px;
  height: 100px;
}

.senopse-title {
  margin: 0;
  font-size: var(--size-font);
  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
}

.senopse-categories {
  margin: 0;
  padding: 10px 0;
  color: var(--color-text-yellow);
}

.senopse-categories > .category {
  text-decoration: none;
  font-size: var(--size-font);
  color: var(--color-text-yellow);
}

.senopse-categories > .category:hover {
  text-decoration: underline;
}

.movie-note {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
  font-size: var(--size-font-card-movie);
  font-weight: bold;
}

.movie-like > i{
  cursor: pointer;
  color: var(--color-icon-like);
  transition: color 0.2s ease-in-out;
}

.movie-like.like > i, .movie-like > i:hover {
  color: var(--color-icon-like-hover);
}

@media screen and (max-width: 960px) {
  .card-movie {
    margin: 0 5px 20px 5px;
  }
}

@media screen and (max-width: 720px) {
  .card-movie {
    width: 280px;
  }
}
